.calculator {
  background-color: #181818;
  color: $white;
  display: block !important;

  .fp-tableCell {
    display: flex;
    justify-content: center;

    > div {
      flex-basis: 100%;
    }

  }

}

.calculator__wrap {
  position: relative;
  z-index: 3;
  padding-bottom: 10px;
  padding-top: 100px;
}

.calculator__title {
  font-size: px-to-rem(32px);
  line-height: px-to-rem(37px);
  color: $primary;
  text-align: center;
  margin: 0 0 20px;
  font-weight: 700;
}

.calculator__img {
  display: block;
  max-width: 100%;
  margin: 24px auto;
}

@media (min-width: 1024px) {

  .calculator__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .calculator__title {
    padding-left: 465px;
    text-align: left;
  }

  .calculator__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(calc(-50% + 40px));
  }

  .calculator__calc {
    padding-left: 215px;
    margin-left: 250px;
    padding-top: 5px;
    padding-bottom: 25px;
  }

}